.box {
  height: 100%;
  width: 200px;
  border: 1px solid black;
  margin: 5px; 
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
