.box {
  border: 1px solid black;
  margin: 5px;
  flex-grow: 1;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
